/* -- .scss -- */


/* -- Variables -- */
/* --------------- */
$shapeWidth: 100px;
$shapeHeight: 100px;

$lightTeal: #77dfc9;
$lightBlue: #778ddf;
$lightRed: #df778d;
$lightYellow: #dfc977;

$circleBackground: $lightTeal;

/* -- Mixins -- */
/* ------------ */
@mixin border-radius($radius: 0px) {
	-mox-border-radius: $radius
	-webkit-border-radius: $radius
	border-radius: $radius
}

.circle {
	@include border-radius(50%);

	background: $circleBackground;
	width: $shapeWidth;
	height: $shapeHeight;
	display: inline-block;
}