/* -- .scss -- */


/* -- Variables -- */
/* --------------- */

/* -- Colors -- */
$flatTeal: #77dfc9;
$flatBlue: #0095F6;
$flatRed: #df778d;
$flatYellow: #dfc977;
$flatGreen: #21c666;
$purpleBlue: #764ed5;

$circleBackground: $flatTeal;
$headerBackground: $purpleBlue;

/* -- Mixins -- */
/* ------------ */
@mixin border-radius($radius: 0px) {
	-mox-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($bshadow: none) {
	-moz-box-shadow: $bshadow;
	-webkit-box-shadow: $bshadow;
	box-shadow: $bshadow;
}

@mixin buttonStyle($bgcolor:$flatGreen, $width:100px, $height:50px) {
	@include box-shadow(none);
	@include border-radius(5px);

	border: none;
	cursor: pointer;
	background-color: $bgcolor;
	color: #fff;
	width: $width;
	height: $height;
	font-size: 18px;
	transition: all .10s ease-in-out;
}

body {
	letter-spacing: 0px;
	font-family: Verdana;

	.avgrund-popup > h2 {
		margin: 0 0 20px 0;
		text-align: center;
	}
}

header {
	background-color: #fff;
	width: 100%;
	height: 30px;
	z-index: 10;
	vertical-align: center;

}

.left {
	text-align: left;
}
.right {
	text-align: right;
}

.nvbr {
	background: $flatBlue;
	a {
		text-decoration: none;
		color: #fff;
	}
	a:hover {
		text-decoration: none;
	}
	.home {
		margin:	15px;
	}
	.project-title {
		margin: 15px;
	}
}

.button-wrapper {
	position: relative;
	top: 8px;

	.user-controls {
		position: relative;
		left: 15px;
		top: 10px;
	}
	.stats-wrapper {
		position: relative;
		float: right;
		display: block;
		top: 17px;

		.stats {
			color: $flatRed;
		}
	}

	
	#num-nodes {
		margin-left: 15px;
	}
	
	.btn-render {
		@include buttonStyle($flatGreen, 50px, 35px);
	} 
	.btn-render:hover {
		background-color: darken( $flatGreen, 10% );
	}
	.btn-render:active {
		background-color: darken( $flatGreen, 20% );
	}


	.btn-primary {
		@include buttonStyle($flatBlue, 250px, 50px);
	}
	.btn-primary:hover {
		background-color: darken( $flatBlue, 10% );
	}
	.btn-primary:active {
		background-color: darken( $flatBlue, 20% );
	}
}

.description {
	display: inline-block;
	position: static;
	margin-left: 75px;
	font-size: 15px;
	font-family: sans-serif;
	cursor: pointer;
	background: #ED5E2F;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

input[type="text"] {
	line-height: 1.5em;
	border-radius: 3px;
	border: 1px solid;
	padding: 5px;
	outline: none;
	font-size: 14px;
}

